/* Importation de la police Google */
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

body{
	color:#585976;		/* Couleur de la police Gris foncé */
	background: linear-gradient(#8EB3C8, white);
	font-family: 'Righteous', cursive!important; /* Utilisation de la police Righteous */
	padding : 20px;
}

h1 {
	/* Définition des titres (des pages) */
	color:#AE3030!important;
	font-size: 2em!important; 	/* Double de la police normale */
	font-weight:bold!important;
}

h2 {
	/* Définition des titres de niveau 2 */
	color:#AE3030!important;
	font-size: 2em!important; 	/* Double de la police normale */
}

.texte{
	font-size: 1.75em; 	/* Double de la police normale */
	color:#AE3030;
	font-weight:bold;
}

.row,  [class^="col-"]{
	border-style:solid ; 	/* Bordure double */
	border-width:3px;		/* Epaisseur bordure */
	border-color:#1B4B67;	/* Couleur de la bordure */
	border-radius: 5px;		/* Arrondissement des angles */
	/*margin :5px;*/
	padding:5px;
	text-align:center;  /* Centrage du texte */
}

a{
	color:#8C0404;		/* couleur des liens non visités */
}

a:visited { 
	color: grey; 		/* couleur des liens  visités */
}




img:hover {
	-webkit-transform:scale(1.2); 	/* Transformation pour Firefox */
	transform: scale(1.2);			/* Transformation pour les autres navigateurs  */
}
